@font-face {
    font-family: 'Gotham Pro';
    src:url('../theme_hh/fonts/GothamPro-Light.eot');
    src:url('../theme_hh/fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../theme_hh/fonts/GothamPro-Light.woff2') format('woff2'),
    url('../theme_hh/fonts/GothamPro-Light.woff') format('woff'),
    url('../theme_hh/fonts/GothamPro-Light.ttf') format('truetype'),
    url('../theme_hh/fonts/GothamPro-Light.svg#GothamPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src:url('../theme_hh/fonts/GothamPro-LightItalic.eot');
    src:url('../theme_hh/fonts/GothamPro-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../theme_hh/fonts/GothamPro-LightItalic.woff2') format('woff2'),
    url('../theme_hh/fonts/GothamPro-LightItalic.woff') format('woff'),
    url('../theme_hh/fonts/GothamPro-LightItalic.ttf') format('truetype'),
    url('../theme_hh/fonts/GothamPro-LightItalic.svg#GothamPro-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro';
    src:url('../theme_hh/fonts/GothamPro.eot');
    src:url('../theme_hh/fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('../theme_hh/fonts/GothamPro.woff2') format('woff2'),
    url('../theme_hh/fonts/GothamPro.woff') format('woff'),
    url('../theme_hh/fonts/GothamPro.ttf') format('truetype'),
    url('../theme_hh/fonts/GothamPro.svg#GothamPro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src:url('../theme_hh/fonts/GothamPro-Italic.eot');
    src:url('../theme_hh/fonts/GothamPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('../theme_hh/fonts/GothamPro-Italic.woff2') format('woff2'),
    url('../theme_hh/fonts/GothamPro-Italic.woff') format('woff'),
    url('../theme_hh/fonts/GothamPro-Italic.ttf') format('truetype'),
    url('../theme_hh/fonts/GothamPro-Italic.svg#GothamPro-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro';
    src:url('../theme_hh/fonts/GothamPro-Medium.eot');
    src:url('../theme_hh/fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../theme_hh/fonts/GothamPro-Medium.woff2') format('woff2'),
    url('../theme_hh/fonts/GothamPro-Medium.woff') format('woff'),
    url('../theme_hh/fonts/GothamPro-Medium.ttf') format('truetype'),
    url('../theme_hh/fonts/GothamPro-Medium.svg#GothamPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src:url('../theme_hh/fonts/GothamPro-MediumItalic.eot');
    src:url('../theme_hh/fonts/GothamPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../theme_hh/fonts/GothamPro-MediumItalic.woff2') format('woff2'),
    url('../theme_hh/fonts/GothamPro-MediumItalic.woff') format('woff'),
    url('../theme_hh/fonts/GothamPro-MediumItalic.ttf') format('truetype'),
    url('../theme_hh/fonts/GothamPro-MediumItalic.svg#GothamPro-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro';
    src:url('../theme_hh/fonts/GothamPro-Bold.eot');
    src:url('../theme_hh/fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../theme_hh/fonts/GothamPro-Bold.woff2') format('woff2'),
    url('../theme_hh/fonts/GothamPro-Bold.woff') format('woff'),
    url('../theme_hh/fonts/GothamPro-Bold.ttf') format('truetype'),
    url('../theme_hh/fonts/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src:url('../theme_hh/fonts/GothamPro-BoldItalic.eot');
    src:url('../theme_hh/fonts/GothamPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../theme_hh/fonts/GothamPro-BoldItalic.woff2') format('woff2'),
    url('../theme_hh/fonts/GothamPro-BoldItalic.woff') format('woff'),
    url('../theme_hh/fonts/GothamPro-BoldItalic.ttf') format('truetype'),
    url('../theme_hh/fonts/GothamPro-BoldItalic.svg#GothamPro-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro';
    src:url('../theme_hh/fonts/GothamPro-Black.eot');
    src:url('../theme_hh/fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
    url('../theme_hh/fonts/GothamPro-Black.woff2') format('woff2'),
    url('../theme_hh/fonts/GothamPro-Black.woff') format('woff'),
    url('../theme_hh/fonts/GothamPro-Black.ttf') format('truetype'),
    url('../theme_hh/fonts/GothamPro-Black.svg#GothamPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src:url('../theme_hh/fonts/GothamPro-BlackItalic.eot');
    src:url('../theme_hh/fonts/GothamPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../theme_hh/fonts/GothamPro-BlackItalic.woff2') format('woff2'),
    url('../theme_hh/fonts/GothamPro-BlackItalic.woff') format('woff'),
    url('../theme_hh/fonts/GothamPro-BlackItalic.ttf') format('truetype'),
    url('../theme_hh/fonts/GothamPro-BlackItalic.svg#GothamPro-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}



@font-face {
    font-family: 'HelveticaNeueCyr';
    src:url('../theme_hh/fonts/HelveticaNeueCyr-Thin.eot');
    src:url('../theme_hh/fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
    url('../theme_hh/fonts/HelveticaNeueCyr-Thin.woff2') format('woff2'),
    url('../theme_hh/fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
    url('../theme_hh/fonts/HelveticaNeueCyr-Thin.ttf') format('truetype'),
    url('../theme_hh/fonts/HelveticaNeueCyr-Thin.svg#HelveticaNeueCyr-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src:url('../theme_hh/fonts/HelveticaNeueCyr-Light.eot');
    src:url('../theme_hh/fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
    url('../theme_hh/fonts/HelveticaNeueCyr-Light.woff2') format('woff2'),
    url('../theme_hh/fonts/HelveticaNeueCyr-Light.woff') format('woff'),
    url('../theme_hh/fonts/HelveticaNeueCyr-Light.ttf') format('truetype'),
    url('../theme_hh/fonts/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src:url('../theme_hh/fonts/HelveticaNeueCyr-LightItalic.eot');
    src:url('../theme_hh/fonts/HelveticaNeueCyr-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../theme_hh/fonts/HelveticaNeueCyr-LightItalic.woff2') format('woff2'),
    url('../theme_hh/fonts/HelveticaNeueCyr-LightItalic.woff') format('woff'),
    url('../theme_hh/fonts/HelveticaNeueCyr-LightItalic.ttf') format('truetype'),
    url('../theme_hh/fonts/HelveticaNeueCyr-LightItalic.svg#HelveticaNeueCyr-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src:url('../theme_hh/fonts/HelveticaNeueCyr-Roman.eot');
    src:url('../theme_hh/fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('../theme_hh/fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
    url('../theme_hh/fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('../theme_hh/fonts/HelveticaNeueCyr-Roman.ttf') format('truetype'),
    url('../theme_hh/fonts/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src:url('../theme_hh/fonts/HelveticaNeueCyr-Medium.eot');
    src:url('../theme_hh/fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('../theme_hh/fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
    url('../theme_hh/fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
    url('../theme_hh/fonts/HelveticaNeueCyr-Medium.ttf') format('truetype'),
    url('../theme_hh/fonts/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src:url('../theme_hh/fonts/HelveticaNeueCyr-Italic.eot');
    src:url('../theme_hh/fonts/HelveticaNeueCyr-Italic.eot?#iefix') format('embedded-opentype'),
    url('../theme_hh/fonts/HelveticaNeueCyr-Italic.woff2') format('woff2'),
    url('../theme_hh/fonts/HelveticaNeueCyr-Italic.woff') format('woff'),
    url('../theme_hh/fonts/HelveticaNeueCyr-Italic.ttf') format('truetype'),
    url('../theme_hh/fonts/HelveticaNeueCyr-Italic.svg#HelveticaNeueCyr-Italic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src:url('../theme_hh/fonts/HelveticaNeueCyr-Bold.eot');
    src:url('../theme_hh/fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('../theme_hh/fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
    url('../theme_hh/fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('../theme_hh/fonts/HelveticaNeueCyr-Bold.ttf') format('truetype'),
    url('../theme_hh/fonts/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src:url('../theme_hh/fonts/HelveticaNeueCyr-BoldItalic.eot');
    src:url('../theme_hh/fonts/HelveticaNeueCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../theme_hh/fonts/HelveticaNeueCyr-BoldItalic.woff2') format('woff2'),
    url('../theme_hh/fonts/HelveticaNeueCyr-BoldItalic.woff') format('woff'),
    url('../theme_hh/fonts/HelveticaNeueCyr-BoldItalic.ttf') format('truetype'),
    url('../theme_hh/fonts/HelveticaNeueCyr-BoldItalic.svg#HelveticaNeueCyr-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src:url('../theme_hh/fonts/HelveticaNeueCyr-Black.eot');
    src:url('../theme_hh/fonts/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
    url('../theme_hh/fonts/HelveticaNeueCyr-Black.woff2') format('woff2'),
    url('../theme_hh/fonts/HelveticaNeueCyr-Black.woff') format('woff'),
    url('../theme_hh/fonts/HelveticaNeueCyr-Black.ttf') format('truetype'),
    url('../theme_hh/fonts/HelveticaNeueCyr-Black.svg#HelveticaNeueCyr-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


.mb-10 {
    margin-bottom: 10px;
}

.tr-header td {
    border: none !important;
    background-color: #ededed !important;
}


.desc-page-container .step-title {
    padding: 0 15px;
}

.desc-page-container .sortable {
    min-height: 30px;
}

.desc-page-container .sortable li:hover {
    background-color: #00acac;
}

.no-before::before {
    content: none;
}

.desc-page-container .step-column {
    background: #fcfcfc;
    color: #242a30;
    display: inline-block;
    float: none;
    vertical-align: top;
}

.desc-page-container .step-column ul {
    height: 55vh;
    overflow-y: auto;
}

.desc-page-container .step-column .panel-heading {
    background: #ebebeb;
}

.step-column {
    float: left;
    min-width: 300px;
    background: #fff;
    margin-right: 2px;
}

body .sidebar, .sidebar-bg {
    background: #2e3138;
}

body .container-fluid {
    background: #1d1f24;
    color: #a8acb1;
}

body .navbar-default .navbar-brand {
    color: #a8acb1;
}

body .navbar-default .navbar-nav>li>a {
    color: #a8acb1;
}

body .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #a8acb1 !important;
}

body .sortable {
    border: none;
}

body .sortable li {
    border: none;
    list-style: none outside none;
    margin: 4px;
    padding: 0px;
    cursor: normal;
}

body .panel.black-back {
    background-color: #e0e0e0;
}

body .sortable li .panel-heading:hover {
    background: #dbdbdb;
}

.theme-table table tbody tr td {
    border: none;
    background: #edf2f2;
    padding: 18px;
}

.theme-table table tbody tr td:first-child {
    border-left: 5px solid #17bfcd;
}

.theme-table table {
    border-spacing: 0 1em;
    border-collapse: separate;
}

.theme-table table.table>thead>tr>th {
    border-bottom: none !important;
}

body .sp-container.sp-hidden {
    display: none;
}

/*
 *  STYLE of scroll
 */

.theme-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.theme-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0,0,0, 0);
}

.theme-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #17bfcd;
}

.header .navbar-nav>li>a {
    padding-top: 8px !important;
    padding-bottom: 10px !important;
}

.navbar {
    min-height: 30px !important;
}

.navbar-header .navbar-brand {
    height: 35px;
    padding: 6px 20px;
}

.container-fluid {
    height: 42px;
}

.project-view .panel-heading-btn .dropdown-menu li {
    margin-left: 0;
    margin-right: 0;
}